@model Framework.ViewModels.MessengerViewModel

<script>
    document.title = "Tin nhắn | Olympus";
</script>

<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Tin nhắn</h6>
    </div>

    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-r-0">
            <ul class="notification-list chat-message">
                <li>
                    <div class="author-thumb">
                        <img src="content/images/avatar8-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                        <a href="#" class="h6 notification-friend">Minh Trí</a>
                        <span class="chat-message-item">Chào! Khỏe không?</span>
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 giờ trước</time></span>
                    </div>
                    <span class="notification-icon">
                        <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                    </span>

                    <div class="more">
                        <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                    </div>
                </li>

                <li class="chat-group">
                    <div class="author-thumb">
                        <img src="content/images/avatar11-sm.jpg" alt="author">
                        <img src="content/images/avatar12-sm.jpg" alt="author">
                        <img src="content/images/avatar13-sm.jpg" alt="author">
                        <img src="content/images/avatar10-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                        <a href="#" class="h6 notification-friend">You, Minh Trí +3</a>
                        <span class="last-message-author">Minh Trí:</span>
                        <span class="chat-message-item">OK!</span>
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">16 tháng 9 lúc 10:23am</time></span>
                    </div>
                    <span class="notification-icon">
                        <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                    </span>
                    <div class="more">
                        <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-l-0">
            <div class="chat-field">
                <div class="ui-block-title">
                    <h6 class="title">Minh Trí</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="content/images/avatar10-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Minh Trí</a>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Hôm qua lúc 8:10pm</time></span>
                                <span class="chat-message-item">Hi Thịnh, khỏe không?</span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="content/images/author-page.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Hi Trí</a>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Hôm qua lúc 8:30pm</time></span>
                                <span class="chat-message-item">
                                    Khỏe nha! Có cái này cần hỏi...
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="content/images/avatar10-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Minh Trí</a>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Hôm qua lúc 9:56pm</time></span>
                                <span class="chat-message-item">là sao?</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form>

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Trả lời đi chứ...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                    </div>

                    <div class="add-options-message">
                        <a href="#" class="options-message">
                            <svg class="olymp-computer-icon"><use xlink:href="content/icons/icons.svg#olymp-computer-icon"></use></svg>
                        </a>
                        <div class="options-message smile-block">
                            <svg class="olymp-happy-sticker-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-sticker-icon"></use></svg>

                            <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat1.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat2.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat3.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat4.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat5.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat6.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat7.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat8.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat9.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat10.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat11.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat12.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat13.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat14.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat15.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat16.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat17.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat18.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat19.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat20.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat21.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat22.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat23.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat24.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat25.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat26.png" alt="icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="content/images/icon-chat27.png" alt="icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-primary btn-sm" style="width: unset;">Trả lời</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>