
<div class="profile-settings-responsive">
    <a href="#" class="js-profile-settings-open profile-settings-open">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <div class="mCustomScrollbar" data-mcs-theme="dark">
        <div class="ui-block">
            <div class="your-profile">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Tài khoản</h6>
                </div>

                <div id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne-1">
                            <h6 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
                                    Quản lý thông tin
                                    <svg class="olymp-dropdown-arrow-icon"><use xlink:href="content/icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                </a>
                            </h6>
                        </div>

                        <div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <ul class="your-profile-menu">
                                <li>
                                    <a href="#" onclick='getview("UpdateInfo")'>Thông tin cá nhân</a>
                                </li>
                                <li>
                                    <a href="#" onclick='getview("UpdateSetting")'>Cài đặt tài khoản</a>
                                </li>
                                <li>
                                    <a href="#" onclick='getview("UpdatePassword")'>Thay đổi mật khẩu</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="ui-block-title">
                    <a href="#" onclick='getview("Notification")' class="h6 title">Thông báo</a>
                    <a href="#" class="items-round-little bg-primary">8</a>
                </div>
                <div class="ui-block-title">
                    <a href="#" onclick='getview("Messenger")' class="h6 title">Tin nhắn</a>
                    <a href="#" class="items-round-little bg-purple">2</a>
                </div>
                <div class="ui-block-title">
                    <a href="#" onclick='getview("Requests")' class="h6 title">Lời mời kết bạn</a>
                    <a href="#" class="items-round-little bg-blue">4</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Header Your Account -->

<div class="main-header">
    <div class="content-bg-wrap">
        <div class="content-bg bg-account"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                <div class="main-header-content">
                    <h1>Quản lý tài khoản</h1>
                    <p>
                        Chào mừng bạn đến với trang tổng quan tài khoản của bạn! Ở đây bạn sẽ tìm thấy mọi thứ bạn cần để thay đổi thông tin tiểu sử, cài đặt, đọc thông báo, quản lý các lời mới kết bạn, xem tin nhắn mới nhất cũng như thay đổi pasword và nhiều hơn nữa! Chúc vui vẻ!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <img class="img-bottom" src="content/images/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Your Account -->


