@model Framework.ViewModels.UpdatePasswordViewModel

<script>
    document.title = "Cập nhật mật khẩu | Olympus"
</script>

<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Thay đổi mật khẩu</h6>
    </div>
    <div class="ui-block-content">
        <form id="normal-form">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row validate">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Mật khẩu hiện tại của bạn</label>
                        <input class="form-control" name="OldPassword" type="password">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 same-height">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Mật khẩu mới</label>
                        <input class="form-control" name="NewPassword" type="password">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 same-height">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Xác nhận lại mật khẩu mới</label>
                        <input class="form-control" name="ConfirmPassword" type="password">
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" class="btn btn-primary btn-lg full-width" value="Thay đổi mật khẩu" />
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    $('#normal-form').on("submit", function (e) {
        $(".waiting_loader").css("display", "block");
        e.preventDefault();
        var form = $(this);
        var data = form.serialize();
        $.post('/YourAccount/UpdatePassword', data).done(function (response) {
            if (response.result == "success") {
                $("#notify .ui-block-content p").html("Thành công rồi nhé bạn tôi!!!");
                $(".form-group").removeClass("error");
                $("#notify-button").click();
            } else {
                var errorState = response.data;
                form.find('input').parent().removeClass('error');
                setError(form, errorState);
                scrollto("span.form-validation:first-child");
            }
        }).fail(function (response) {
            $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!")
        }).always(function () {
            $(".waiting_loader").css("display", "none");
            scrollto("#partial");
        });
    });
</script>
