@model Framework.ViewModels.LayoutViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Title | Olympus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="content/images/favicon.png" type="image/icon">
    <link rel="stylesheet" type="text/css" href="content/css/fakeLoader.css">
    <link rel="stylesheet" type="text/css" href="content/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="content/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="content/css/theme-styles.css">
    <link rel="stylesheet" type="text/css" href="content/css/blocks.css">
    <link rel="stylesheet" type="text/css" href="content/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="content/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="content/css/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="content/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="content/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="content/css/mediaelement-playlist-plugin.min.css">
    <link rel="stylesheet" type="text/css" href="content/css/mediaelementplayer.css">
    <link rel="stylesheet" type="text/css" href="content/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="content/css/simplecalendar.css">
    <link rel="stylesheet" type="text/css" href="content/css/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="content/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="content/css/error.css" />
    <script src="content/js/theme-plugins.js" charset="utf-8"></script>
    <script src="content/js/script.js" charset="utf-8"></script>
</head>
<body>

    <div class="fakeloader"></div>

    <!-- Fixed Sidebar Left -->

    <div class="fixed-sidebar">
        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
            <a href="/" class="logo">
                <img src="content/images/logo.png" alt="Olympus">
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="left-menu">
                    <li>
                        <a href="#" class="js-sidebar-open">
                            <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="MENU"><use xlink:href="content/icons/icons.svg#olymp-menu-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="NEWSFEED"><use xlink:href="content/icons/icons.svg#olymp-newsfeed-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="Dictionary?option=dictionaries">
                            <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="TỪ ĐIỂN"><use xlink:href="content/icons/icons.svg#olymp-badge-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="learning.html">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="TỰ HỌC"><use xlink:href="content/icons/icons.svg#olymp-calendar-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="Entertainment">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="GIẢI TRÍ"><use xlink:href="content/icons/icons.svg#olymp-headphones-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="Statistics">
                            <svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="THỐNG KÊ"><use xlink:href="content/icons/icons.svg#olymp-stats-icon"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
            <a href="/" class="logo">
                <img src="content/images/logo.png" alt="Olympus">
                <h6 class="logo-title">olympus</h6>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="left-menu">
                    <li>
                        <a href="#" class="js-sidebar-open">
                            <svg class="olymp-close-icon left-menu-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
                            <span class="left-menu-title">Thu nhỏ Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="NEWSFEED"><use xlink:href="content/icons/icons.svg#olymp-newsfeed-icon"></use></svg>
                            <span class="left-menu-title">Newsfeed</span>
                        </a>
                    </li>
                    <li>
                        <a href="Dictionary?option=dictionaries">
                            <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="TỪ ĐIỂN"><use xlink:href="content/icons/icons.svg#olymp-badge-icon"></use></svg>
                            <span class="left-menu-title">Từ điển</span>
                        </a>
                    </li>
                    <li>
                        <a href="learning.html">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="TỰ HỌC"><use xlink:href="content/icons/icons.svg#olymp-calendar-icon"></use></svg>
                            <span class="left-menu-title">Tự học</span>
                        </a>
                    </li>
                    <li>
                        <a href="Entertainment">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="GIẢI TRÍ"><use xlink:href="content/icons/icons.svg#olymp-headphones-icon"></use></svg>
                            <span class="left-menu-title">Giải trí</span>
                        </a>
                    </li>
                    <li>
                        <a href="Statistics">
                            <svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="THỐNG KÊ"><use xlink:href="content/icons/icons.svg#olymp-stats-icon"></use></svg>
                            <span class="left-menu-title">Thống kê</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ... end Fixed Sidebar Left -->
    <!-- Fixed Sidebar Left -->

    <div class="fixed-sidebar fixed-sidebar-responsive">

        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
            <a href="#" class="logo js-sidebar-open">
                <img src="content/images/logo.png" alt="Olympus">
            </a>

        </div>

        <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
            <a href="#" class="logo">
                <img src="content/images/logo.png" alt="Olympus">
                <h6 class="logo-title">olympus</h6>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">

                <div class="control-block">
                    <div class="author-page author vcard inline-items">
                        <div class="author-thumb sinhvien">
                            <img alt="author" src="content/images/author-page.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                        <a href="Profile?option=newsfeed" class="author-name fn">
                            <div class="author-title">
                                Demo <svg class="olymp-dropdown-arrow-icon"><use xlink:href="content/icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                            </div>
                            <span class="author-subtitle">Student</span>
                        </a>
                    </div>
                </div>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Khu vực chính</h6>
                </div>

                <ul class="left-menu">
                    <li>
                        <a href="#" class="js-sidebar-open">
                            <svg class="olymp-close-icon left-menu-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
                            <span class="left-menu-title">Thu nhỏ Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="Profile?option=newsfeed">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="NEWSFEED"><use xlink:href="content/icons/icons.svg#olymp-newsfeed-icon"></use></svg>
                            <span class="left-menu-title">Newsfeed</span>
                        </a>
                    </li>
                    <li>
                        <a href="Dictionary?option=dictionaries">
                            <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="TỪ ĐIỂN"><use xlink:href="content/icons/icons.svg#olymp-badge-icon"></use></svg>
                            <span class="left-menu-title">Từ điển</span>
                        </a>
                    </li>
                    <li>
                        <a href="learning.html">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="TỰ HỌC"><use xlink:href="content/icons/icons.svg#olymp-calendar-icon"></use></svg>
                            <span class="left-menu-title">Tự học</span>
                        </a>
                    </li>
                    <li>
                        <a href="Entertainment">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="GIẢI TRÍ"><use xlink:href="content/icons/icons.svg#olymp-headphones-icon"></use></svg>
                            <span class="left-menu-title">Giải trí</span>
                        </a>
                    </li>

                    <li>
                        <a href="Statistics">
                            <svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="THỐNG KÊ"><use xlink:href="content/icons/icons.svg#olymp-stats-icon"></use></svg>
                            <span class="left-menu-title">Thống kê</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ... end Fixed Sidebar Left -->
    <!-- Fixed Sidebar Right -->

    <div class="fixed-sidebar right">
        <div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="chat-users">
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb trunghoc">
                            <img alt="author" src="content/images/avatar67-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="search-friend inline-items">
                <a href="#" class="js-sidebar-open">
                    <svg class="olymp-menu-icon"><use xlink:href="content/icons/icons.svg#olymp-menu-icon"></use></svg>
                </a>
            </div>

            <a href="YourAccount?option=messenger" class="olympus-chat inline-items">
                <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
            </a>

        </div>

        <div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

            <div class="mCustomScrollbar" data-mcs-theme="dark">

                <div class="ui-block-title ui-block-title-small">
                    <a href="#" class="title">Bạn bè</a>
                    <a href="YourAccount?option=updateinfo">Cài đặt</a>
                </div>

                <ul class="chat-users">
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb trunghoc">
                            <img alt="author" src="content/images/avatar67-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Minh Trí</a>
                            <span class="status">ONLINE</span>
                        </div>

                        <div class="more">
                            <svg class="olymp-comments-post-icon"><use xlink:href="content/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="search-friend inline-items">
                <form class="form-group">
                    <input class="form-control" placeholder="Tìm bạn..." value="" type="text">
                </form>

                <a href="YourAccount?option=requests" class="settings">
                    <svg class="olymp-settings-icon"><use xlink:href="content/icons/icons.svg#olymp-settings-icon"></use></svg>
                </a>

                <a href="#" class="js-sidebar-open">
                    <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
                </a>


            </div>

            <a href="YourAccount?option=messenger" class="olympus-chat inline-items">

                <h6 class="olympus-chat-title">OLYMPUS CHAT</h6>
                <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
            </a>

        </div>
    </div>

    <!-- ... end Fixed Sidebar Right -->
    <!-- Fixed Sidebar Right -->

    <div class="fixed-sidebar right fixed-sidebar-responsive">

        <div class="fixed-sidebar-right sidebar--small" id="sidebar-right-responsive">

            <a href="#" class="olympus-chat inline-items js-chat-open">
                <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
            </a>

        </div>

    </div>

    <!-- ... end Fixed Sidebar Right -->
    <!-- Header -->

    <header class="header" id="site-header">

        <div class="header-content-wrapper">
            <form class="search-bar w-search notification-list friend-requests">
                <div class="form-group with-button">
                    <input class="form-control js-user-search" placeholder="Tìm kiếm bạn bè..." type="text">
                    <button>
                        <svg class="olymp-magnifying-glass-icon"><use xlink:href="content/icons/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                    </button>
                </div>
            </form>

            <div class="control-block">

                <div class="control-icon more has-items">
                    <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                    <div class="label-avatar bg-blue">6</div>

                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">LỜI MỜI KẾT BẠN</h6>
                            <a href="YourAccount?option=updatesetting">CÀI ĐẶT</a>
                        </div>

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list friend-requests">
                                <li>
                                    <div class="author-thumb tieuhoc">
                                        <img src="content/images/avatar55-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Lê Văn Phú</a>
                                        <span class="chat-message-item">Bạn chung: Minh Trí</span>
                                    </div>
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="icon-add without-text">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                        <a href="#" class="accept-request request-del">
                                            <span class="icon-minus">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                    </span>
                                </li>

                                <li>
                                    <div class="author-thumb sinhvien">
                                        <img src="content/images/avatar56-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Nguyễn Thanh Thiện</a>
                                        <span class="chat-message-item">4 bạn chung</span>
                                    </div>
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="icon-add without-text">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                        <a href="#" class="accept-request request-del">
                                            <span class="icon-minus">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                    </span>
                                </li>

                                <li class="accepted">
                                    <div class="author-thumb giaosu">
                                        <img src="content/images/avatar57-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        Bạn và <a href="#" class="h6 notification-friend">Lê Văn Duyệt</a> vừa trở thành bạn của nhau. Cùng xem tường nhà <a href="#" class="notification-link">Lê Văn Duyệt </a>.
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="YourAccount?option=requests" class="view-all bg-blue">Xem tất cả lời mời kết bạn</a>
                    </div>
                </div>

                <div class="control-icon more has-items">
                    <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                    <div class="label-avatar bg-purple">2</div>

                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">TÁN GẪU</h6>
                            <a href="YourAccount?option=updatesetting">CÀI ĐẶT</a>
                        </div>

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list chat-message">
                                <li class="message-unread">
                                    <div class="author-thumb maugiao">
                                        <img src="content/images/avatar59-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Minh Trí</a>
                                        <span class="chat-message-item">Hi Thịnh! Khỏe không?</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li>
                                    <div class="author-thumb tieuhoc">
                                        <img src="content/images/avatar60-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Lê Văn Phú</a>
                                        <span class="chat-message-item">Câu này đúng chưa mày?</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li class="chat-group">
                                    <div class="author-thumb">
                                        <img src="content/images/avatar11-sm.jpg" alt="author">
                                        <img src="content/images/avatar12-sm.jpg" alt="author">
                                        <img src="content/images/avatar13-sm.jpg" alt="author">
                                        <img src="content/images/avatar10-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">You, Minh Trí, +3</a>
                                        <span class="last-message-author">Minh Trí:</span>
                                        <span class="chat-message-item">OK!</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">16 tháng 9 lúc 10:23am</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="YourAccount?option=messenger" class="view-all bg-purple">Xem tất cả tin nhắn</a>
                    </div>
                </div>

                <div class="control-icon more has-items">
                    <svg class="olymp-thunder-icon"><use xlink:href="content/icons/icons.svg#olymp-thunder-icon"></use></svg>

                    <div class="label-avatar bg-primary">8</div>

                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">THÔNG BÁO</h6>
                            <a href="YourAccount?option=updatesetting">CÀI ĐẶT</a>
                        </div>

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list">
                                <li>
                                    <div class="author-thumb tieuhoc">
                                        <img src="content/images/avatar62-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div><a href="#" class="h6 notification-friend">Minh Trí</a> đã trả lời <a href="#" class="notification-link">câu hỏi</a> của bạn.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 giờ trước</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-comments-post-icon"><use xlink:href="content/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-little-delete"><use xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li class="un-read">
                                    <div class="author-thumb sinhvien">
                                        <img src="content/images/avatar63-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div>Bạn và <a href="#" class="h6 notification-friend">Lê Văn Duyệt</a> vừa trở thành bạn của nhau. Cùng xem tường nhà <a href="#" class="notification-link">Lê Văn Duyệt </a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 giờ trước</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-little-delete"><use xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="YourAccount?option=notification" class="view-all bg-primary">Xem tất cả thông báo</a>
                    </div>
                </div>

                <div class="author-page author vcard inline-items more">
                    <div class="author-thumb sinhvien">
                        <img alt="author" src="content/images/author-page.jpg" class="avatar">
                        <span class="icon-status online"></span>
                        <div class="more-dropdown more-with-triangle">
                            <div class="mCustomScrollbar" data-mcs-theme="dark">
                                <ul class="account-settings">
                                    <li>
                                        <a href="Profile?option=newsfeed">
                                            <svg class="olymp-star-icon"><use xlink:href="content/icons/icons.svg#olymp-star-icon"></use></svg>
                                            <span>Trang cá nhân</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="YourAccount?option=updateinfo">

                                            <svg class="olymp-menu-icon"><use xlink:href="content/icons/icons.svg#olymp-menu-icon"></use></svg>

                                            <span>Quản lý tài khoản</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#logout">
                                            <svg class="olymp-logout-icon"><use xlink:href="content/icons/icons.svg#olymp-logout-icon"></use></svg>
                                            <span>Đăng xuất</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Đăng câu hỏi</h6>
                                </div>

                                <form class="form-group with-button custom-status">
                                    <input class="form-control" placeholder="" type="text" value="...">

                                    <button class="bg-purple">
                                        <svg class="olymp-check-icon"><use xlink:href="content/icons/icons.svg#olymp-check-icon"></use></svg>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <a class="author-name fn">
                        <div class="author-title">
                            Thịnh Phan <svg class="olymp-dropdown-arrow-icon"><use xlink:href="content/icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                        </div>
                        <span class="author-subtitle">Student</span>
                    </a>
                </div>

            </div>
        </div>

    </header>

    <!-- ... end Header -->
    <!-- Responsive Header -->

    <header class="header header-responsive" id="site-header-responsive">
        <div class="header-content-wrapper">
            <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#request" role="tab">
                        <div class="control-icon has-items">
                            <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                            <div class="label-avatar bg-blue">6</div>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#chat" role="tab">
                        <div class="control-icon has-items">
                            <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                            <div class="label-avatar bg-purple">2</div>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#notification" role="tab">
                        <div class="control-icon has-items">
                            <svg class="olymp-thunder-icon"><use xlink:href="content/icons/icons.svg#olymp-thunder-icon"></use></svg>
                            <div class="label-avatar bg-primary">8</div>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#search" role="tab">
                        <svg class="olymp-magnifying-glass-icon"><use xlink:href="content/icons/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                        <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content tab-content-responsive">

            <div class="tab-pane " id="request" role="tabpanel">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">LỜI MỜI KẾT BẠN</h6>
                        <a href="YourAccount?option=updatesetting">CÀI ĐẶT</a>
                    </div>
                    <ul class="notification-list friend-requests">
                        <li>
                            <div class="author-thumb sinhvien">
                                <img src="content/images/avatar55-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Lê Văn Phú</a>
                                <span class="chat-message-item">Bạn chung: Minh Trí</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>
                                </a>

                                <a href="#" class="accept-request request-del">
                                    <span class="icon-minus">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>
                                </a>

                            </span>
                        </li>
                        <li>
                            <div class="author-thumb sinhvien">
                                <img src="content/images/avatar56-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Nguyễn Thanh Thiện</a>
                                <span class="chat-message-item">4 bạn chung</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>
                                </a>

                                <a href="#" class="accept-request request-del">
                                    <span class="icon-minus">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="accepted">
                            <div class="author-thumb sinhvien">
                                <img src="content/images/avatar57-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                Bạn và <a href="#" class="h6 notification-friend">Lê Văn Duyệt</a> vừa trở thành bạn của nhau. Cùng xem tường nhà <a href="#" class="notification-link">Lê Văn Duyệt </a>.
                            </div>
                            <span class="notification-icon">
                                <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                            </span>
                            <div class="more">
                                <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                            </div>
                        </li>
                    </ul>
                    <a href="YourAccount?option=requests" class="view-all bg-blue">Xem tất cả lời mời kết bạn</a>
                </div>

            </div>

            <div class="tab-pane " id="chat" role="tabpanel">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">TÁN GẪU</h6>
                        <a href="YourAccount?option=updatesetting">CÀI ĐẶT</a>
                    </div>

                    <ul class="notification-list chat-message">
                        <li class="message-unread">
                            <div class="author-thumb maugiao">
                                <img src="content/images/avatar59-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Minh Trí</a>
                                <span class="chat-message-item">Hi Thịnh! Khỏe không?</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 giờ trước</time></span>
                            </div>
                            <span class="notification-icon">
                                <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                            </span>
                            <div class="more">
                                <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb sinhvien">
                                <img src="content/images/avatar60-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Lê Văn Phú</a>
                                <span class="chat-message-item">Câu này đúng chưa mày?</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 giờ trước</time></span>
                            </div>
                            <span class="notification-icon">
                                <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                            </span>
                            <div class="more">
                                <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                            </div>
                        </li>

                        <li class="chat-group">
                            <div class="author-thumb">
                                <img src="content/images/avatar11-sm.jpg" alt="author">
                                <img src="content/images/avatar12-sm.jpg" alt="author">
                                <img src="content/images/avatar13-sm.jpg" alt="author">
                                <img src="content/images/avatar10-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">You, Minh Trí +3</a>
                                <span class="last-message-author">Minh Trí:</span>
                                <span class="chat-message-item">OK!</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">16 tháng 9 lúc 10:23am</time></span>
                            </div>
                            <span class="notification-icon">
                                <svg class="olymp-chat---messages-icon"><use xlink:href="content/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                            </span>
                            <div class="more">
                                <svg class="olymp-little-delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                            </div>
                        </li>
                    </ul>

                    <a href="YourAccount?option=messenger" class="view-all bg-purple">Xem tất cả tin nhắn</a>
                </div>

            </div>

            <div class="tab-pane " id="notification" role="tabpanel">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">THÔNG BÁO</h6>
                        <a href="YourAccount?option=updatesetting">CÀI ĐẶT</a>
                    </div>

                    <ul class="notification-list">
                        <li>
                            <div class="author-thumb">
                                <img src="content/images/avatar62-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <div><a href="#" class="h6 notification-friend">Minh Trí</a>  đã trả lời . <a href="#" class="notification-link">câu hỏi </a>  của bạn.</div>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                            </div>
                            <span class="notification-icon">
                                <svg class="olymp-comments-post-icon"><use xlink:href="content/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                            </span>

                            <div class="more">
                                <svg class="olymp-little-delete"><use xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                            </div>
                        </li>

                        <li class="un-read">
                            <div class="author-thumb">
                                <img src="content/images/avatar63-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <div>Bạn và <a href="#" class="h6 notification-friend">Lê Văn Duyệt</a> vừa trở thành bạn của nhau. Cùng xem tường nhà <a href="#" class="notification-link">Lê Văn Duyệt </a>nhá.</div>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
                            </div>
                            <span class="notification-icon">
                                <svg class="olymp-happy-face-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                            </span>

                            <div class="more">
                                <svg class="olymp-little-delete"><use xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                            </div>
                        </li>
                    </ul>

                    <a href="YourAccount?option=notification" class="view-all bg-primary">Xem tất cả thông báo</a>
                </div>

            </div>

            <div class="tab-pane " id="search" role="tabpanel">


                <form class="search-bar w-search notification-list friend-requests">
                    <div class="form-group with-button">
                        <input class="form-control js-user-search" placeholder="Tìm kiếm bạn bè..." type="text">
                    </div>
                </form>


            </div>

        </div>
        <!-- ... end  Tab panes -->

    </header>

    <!-- ... end Responsive Header -->

    <div class="header-spacer header-spacer-small"></div>

    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive">
        <div class="ui-block-title">
            <span class="icon-status online"></span>
            <h6 class="title">Tán gẫu</h6>
            <div class="more">
                <svg class="olymp-little-delete js-chat-open"><use xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
            </div>
        </div>
        <div class="mCustomScrollbar">
            <ul class="notification-list chat-message chat-message-field">
                <li>
                    <div class="author-thumb sinhvien">
                        <img src="content/images/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                    </div>
                    <div class="notification-event">
                        <span class="chat-message-item">Hi Thịnh!</span>
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Hôm qua lúc 8:10pm</time></span>
                    </div>
                </li>

                <li>
                    <div class="author-thumb sinhvien">
                        <img src="content/images/author-page.jpg" alt="author" class="mCS_img_loaded">
                    </div>
                    <div class="notification-event">
                        <span class="chat-message-item">Chào!</span>
                        <span class="chat-message-item">Khỏe không?</span>
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Hôm qua lúc 8:29pm</time></span>
                    </div>
                </li>

                <li>
                    <div class="author-thumb sinhvien">
                        <img src="content/images/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                    </div>
                    <div class="notification-event">
                        <span class="chat-message-item">Tôi khỏe, cám ơn nhang!</span>
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Hôm qua lúc at 8:30pm</time></span>
                    </div>
                </li>
            </ul>
        </div>

        <form>
            <div class="form-group label-floating is-empty">
                <label class="control-label">Enter để gửi...</label>
                <textarea class="form-control" placeholder=""></textarea>
                <div class="add-options-message">
                    <a href="#" class="options-message">
                        <svg class="olymp-computer-icon"><use xlink:href="content/icons/icons.svg#olymp-computer-icon"></use></svg>
                    </a>
                    <div class="options-message smile-block">

                        <svg class="olymp-happy-sticker-icon"><use xlink:href="content/icons/icons.svg#olymp-happy-sticker-icon"></use></svg>

                        <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat1.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat2.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat3.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat4.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat5.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat6.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat7.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat8.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat9.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat10.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat11.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat12.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat13.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat14.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat15.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat16.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat17.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat18.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat19.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat20.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat21.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat22.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat23.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat24.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat25.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat26.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="content/images/icon-chat27.png" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="material-input"></span>
            </div>
        </form>
    </div>

    <!-- Window-popup Logout -->
    <div class="modal fade" id="logout">
        <div class="modal-dialog ui-block window-popup logout create-friend-group">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="ui-block-title">
                <h6 class="title">Bạn có muốn đăng xuất?</h6>
            </div>

            <div class="ui-block-content">
                <p>Mọi người sẽ rất nhớ bạn...</p>
                <p>Olympus cũng rất nhớ bạn...</p>
                <a href="#" class="btn btn-secondary btn-lg btn--half-width btn-icon-center" data-dismiss="modal" aria-label="Close">Ở lại</a>
                <a href="#" class="btn btn-primary btn-lg btn--half-width btn-icon-center" id="sign-out">Ra đi</a>
            </div>

        </div>
    </div>
    <!-- ... end Window-popup Logout -->

    <a href="#" data-toggle="modal" data-target="#notify" style="display: none" id="notify-button"></a>
    <!-- Window-popup Notify -->
    <div class="modal fade" id="notify">
        <div class="modal-dialog ui-block window-popup logout create-friend-group">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="ui-block-title">
                <h6 class="title">Thông báo</h6>
            </div>
            
            <div class="ui-block-content">
                <p></p>
                <a href="#" class="btn btn-blue btn-lg full-width" id="sign-out" data-dismiss="modal" aria-label="Close">OK</a>
            </div>

        </div>
    </div>
    <!-- ... end Window-popup Notify -->

    @RenderBody()

    @RenderSection("scripts", false);
    <script src="content/js/main.js"></script>
    <script src="content/js/run-chart.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
        $('#sign-out').click(function () {
            $.post('/Account/LogOffDialog', null, function (response) {
                location.reload();
            });
        });
    </script>
</body>
</html>
