    <!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo">
    <div class="modal-dialog ui-block window-popup update-header-photo">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Cài đặt ảnh</h6>
        </div>

        <a href="#" class="upload-photo-item">
            <svg class="olymp-computer-icon"><use xlink:href="content/icons/icons.svg#olymp-computer-icon"></use></svg>

            <h6>Tải ảnh mới</h6>
            <span>Tải từ máy tính</span>
        </a>

        <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

            <svg class="olymp-photos-icon"><use xlink:href="content/icons/icons.svg#olymp-photos-icon"></use></svg>

            <h6>Chọn từ ảnh của bạn</h6>
            <span>Chọn từ ảnh mà bạn đã tải lên từ trước</span>
        </a>
    </div>
</div>

<!-- ... end Window-popup Update Header Photo -->
<!-- Window-popup Choose from my Photo -->
<div class="modal fade" id="choose-from-my-photo">
    <div class="modal-dialog ui-block window-popup choose-from-my-photo">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Chọn từ ảnh của bạn</h6>
        </div>


        <div class="ui-block-content">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo1.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo2.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo3.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>

                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo4.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo5.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo6.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>

                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo7.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo8.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="content/images/choose-photo9.jpg" alt="photo">
                                <input type="radio" name="optionsRadios">
                            </label>
                        </div>
                    </div>
                    <a href="#" class="btn btn-secondary btn-lg btn--half-width" data-dismiss="modal" aria-label="Close">Hủy bỏ</a>
                    <a href="#" class="btn btn-primary btn-lg btn--half-width">Cài ngay!</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Window-popup Choose from my Photo -->