        <!-- Right Sidebar -->

<aside class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">


    <div class="ui-block">

        <div class="ui-block-title">
            <h6 class="title">Hoạt động</h6>
        </div>

        <ul class="widget w-activity-feed notification-list">
            <li>
                <div class="author-thumb">
                    <img src="content/images/avatar49-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                    <a href="#" class="h6 notification-friend">Minh Trí</a> đã bình luận về câu hỏi của <a href="#" class="notification-link">Lê Văn Phú.</a>.
                    <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">2 phút trước</time></span>
                </div>
            </li>

            <li>
                <div class="author-thumb">
                    <img src="content/images/avatar9-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                    <a href="#" class="h6 notification-friend">Nguyễn Thanh Thiện </a> thích câu trả lời của <a href="#" class="notification-link">Lê Văn Duyệt</a>.
                    <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">5 phút trước</time></span>
                </div>
            </li>

        </ul>
    </div>
</aside>

<!-- ... end Right Sidebar -->
